###############################################################################
# General
###############################################################################

TZ=Europe/Prague

###############################################################################
# Docker
###############################################################################

COMPOSE_PROJECT_NAME=infrastructure

###############################################################################
# Traefik
###############################################################################

TRAEFIK_VERSION=v3.5

TRAEFIK_ACME_EMAIL=your@email.com

TRAEFIK_DOMAIN=traefik.example.com

###############################################################################
# CrowdSec
###############################################################################

CROWDSEC_VERSION=latest

###############################################################################
# Watchtower
###############################################################################

WATCHTOWER_VERSION=latest

###############################################################################
# Networks
###############################################################################

NETWORK_INTERNAL=bridge-moje

NETWORK_TRAEFIK=traefik-moje

###############################################################################
# Static IP
###############################################################################

IP_TRAEFIK=10.40.0.10

IP_CROWDSEC=10.40.0.11

###############################################################################
# Data
###############################################################################

DATA_ROOT=/incus-dir/infrastructure-data

###############################################################################
# Logging
###############################################################################

LOG_MAX_SIZE=20m

LOG_MAX_FILES=5